# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/
*.egg-info/

# Poetry cache
.venv-poetry/

# Editor folders
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Streamlit state
.streamlit/

# Logs
*.log